body {
  background-image: url("./assets/background.png");
  background-color: #cccccc;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body {
  text-align: center;
}
.hero {
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgb(174, 57, 15);
    min-width: 1px;
    box-sizing: border-box;
    margin: 0%;
  }

#fs-player h1, #fs-player h2, #fs-computer h1, #fs-computer h2 {
  font-style: italic;
  margin: 0;
  color: rgb(174, 57, 15);
  font-family: cursive;
  font: bold;
  padding: auto;
  padding: 10px 10px 10px 10px;
min-width: 1px;
box-sizing: border-box;
}

#fs-player h1, #fs-player h2 {
    box-shadow: -5px 5px 5px rgb(174, 57, 15), 5px 5px 5px rgb(174, 57, 15), 5px 5px 5px rgb(174, 57, 15);
}

#fs-computer h1, #fs-computer h2 {
    box-shadow: 5px 5px 5px rgb(174, 57, 15), -5px 5px 5px rgb(174, 57, 15), 5px 5px 5px rgb(174, 57, 15);
}

.vs-logo {
    position: relative;
    top: 0px;
    left: 10px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#combat-log {
  vertical-align: top;
  max-height: 570px;
  overflow: hidden;
}

h3 {
  font-style: italic;
  margin: 0;
  color: rgb(9, 165, 35);
  font-family: cursive;
  font: bold;
  padding: auto;
}
span {
  color: rgb(9, 165, 35);
}
canvas {
  position: fixed;
  top: 180px;
  right: 0px;
  z-index: -2;
}

#fs-player img {
  padding: 10px 10px 10px 10px;
  box-shadow: -5px 5px 5px rgb(174, 57, 15);
  min-width: 1px;
  box-sizing: border-box;
  margin: 0%;
}
#fs-computer img {
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px rgb(174, 57, 15);
  min-width: 1px;
  box-sizing: border-box;
  margin: 0%;
  border-left: rgb(174, 57, 15);
}

#bot-logo {
    position: fixed;
    top: 0px;
    left: 0px;
}

#om-logo {
    position: absolute;
    bottom: 100px;
    right: 0px;
}

#ts-logo {
    position: absolute;
    bottom: 50px;
    right: 0px;
}

#bu-logo {
    position: absolute;
    bottom: 0;
    right: 0;
}

#starter-choices img {
  margin: 10px;
}

#starter-choices img:hover {
  transform: scale(1.5);
}

#about {
  display: none;
}

#bot-logo:hover~#about{
  display: block;
  }